/* Color Tokens - Light */
:root {
    /* Body Styles */
    --body-bg: var(--bg-persistent-light);
    --body-color: var(--text-persistent-dark);

    /* Background Variables */
    --bg-accent-blue: var(--light-blue-400);
    --bg-accent-blue-active-persistent: var(--dark-blue-600);
    --bg-accent-blue-hover-persistent: var(--dark-blue-500);
    --bg-accent-blue-persistent: var(--dark-blue-400);
    --bg-accent-blue-subtle: var(--light-blue-700);
    --bg-accent-blue-subtle-hover: var(--light-blue-800);
    --bg-accent-blue-subtle-active: var(--light-blue-900);
    --bg-accent-blue-subtlest: var(--light-blue-100);
    --bg-accent-green: var(--light-green-400);
    --bg-accent-green-subtle: var(--light-green-600);
    --bg-accent-green-subtlest: var(--light-green-100);
    --bg-accent-red: var(--light-red-400);
    --bg-accent-red-strong-active-persistent: var(--dark-red-400);
    --bg-accent-red-strong-hover-persistent: var(--dark-red-300);
    --bg-accent-red-strong-persistent: var(--dark-red-200);
    --bg-accent-red-subtlest: var(--light-red-100);
    --bg-accent-yellow: var(--light-yellow-400);
    --bg-accent-yellow-subtle: var(--light-yellow-600);
    --bg-accent-yellow-subtlest: var(--light-yellow-100);
    --bg-brand-active: var(--light-red-800);
    --bg-brand-primary: var(--light-red-600);
    --bg-brand-primary-hover: var(--light-red-700);
    --bg-brand-secondary: var(--light-blue-900);
    --bg-brand-subtlest: var(--light-red-100);
    --bg-danger: var(--light-red-400);
    --bg-danger-active: var(--light-red-600);
    --bg-danger-hover: var(--light-red-500);
    --bg-danger-subtlest: var(--light-red-100);
    --bg-dark-1: var(--light-transparent-1);
    --bg-dark-6: var(--light-transparent-6);
    --bg-dark-12: var(--light-transparent-12);
    --bg-dark-25: var(--light-transparent-25);
    --bg-dark-50: var(--light-transparent-50);
    --bg-dark-75: var(--light-transparent-75);
    --bg-gray-bold: var(--light-gray-800);
    --bg-gray-bold-active: var(--light-gray-950);
    --bg-gray-bold-hover: var(--light-gray-900);
    --bg-gray-subtle: var(--light-gray-100);
    --bg-gray-subtle-active: var(--light-gray-300);
    --bg-gray-subtle-hover: var(--light-gray-200);
    --bg-gray-subtler: var(--light-gray-50);
    --bg-gray-subtler-active: var(--light-gray-200);
    --bg-gray-subtler-hover: var(--light-gray-100);
    --bg-info: var(--light-blue-700);
    --bg-info-active: var(--light-blue-900);
    --bg-info-hover: var(--light-blue-800);
    --bg-info-subtlest: var(--light-blue-200);
    --bg-input: var(--light-gray-50);
    --bg-input-hover: var(--light-gray-100);
    --bg-light-1: var(--dark-transparent-1);
    --bg-light-6: var(--dark-transparent-6);
    --bg-light-12: var(--dark-transparent-12);
    --bg-light-25: var(--dark-transparent-25);
    --bg-light-50: var(--dark-transparent-50);
    --bg-light-75: var(--dark-transparent-75);
    --bg-neutral: var(--light-transparent-0);
    --bg-neutral-active: var(--light-transparent-12);
    --bg-neutral-disabled: var(--light-transparent-12);
    --bg-neutral-hover: var(--light-transparent-6);
    --bg-neutral-inverse: var(--dark-transparent-0);
    --bg-neutral-inverse-active: var(--dark-transparent-12);
    --bg-neutral-inverse-hover: var(--dark-transparent-6);
    --bg-neutral-inverse-selected: var(--dark-transparent-6);
    --bg-neutral-inverted-disabled: var(--dark-transparent-12);
    --bg-neutral-selected: var(--light-transparent-6);
    --bg-persistent-dark: var(--light-gray-950);
    --bg-persistent-light: var(--light-gray-50);
    --bg-persistent-primary-brand: var(--light-red-600);
    --bg-persistent-secondary-brand: var(--light-blue-900);
    --bg-primary-brand: var(--light-red-50);
    --bg-secondary-brand: var(--light-blue-100);
    --bg-success: var(--light-green-600);
    --bg-success-active: var(--light-green-800);
    --bg-success-hover: var(--light-green-700);
    --bg-success-subtlest: var(--light-green-200);
    --bg-surface: var(--light-gray-50);
    --bg-surface-bold: var(--light-gray-900);
    --bg-surface-bold-brand: var(--light-red-800);
    --bg-surface-overlay: var(--light-gray-50);
    --bg-surface-raised: var(--light-gray-50);
    --bg-surface-sunken: var(--light-gray-100);
    --bg-transparent: var(--light-transparent-0);
    --bg-transparent-1: var(--light-transparent-1);
    --bg-transparent-6: var(--light-transparent-6);
    --bg-transparent-12: var(--light-transparent-12);
    --bg-transparent-25: var(--light-transparent-25);
    --bg-transparent-50: var(--light-transparent-50);
    --bg-transparent-75: var(--light-transparent-75);
    --bg-warning: var(--light-yellow-800);
    --bg-warning-active: var(--light-yellow-950);
    --bg-warning-hover: var(--light-yellow-900);
    --bg-warning-subtlest: var(--light-yellow-200);

    /* Text Variables */
    --text-accent-blue: var(--light-blue-500);
    --text-accent-blue-subtle: var(--light-blue-700);
    --text-accent-blue-subtle-hover: var(--light-blue-800);
    --text-accent-blue-subtle-active: var(--light-blue-900);
    --text-accent-blue-persistent: var(--dark-blue-700);
    --text-accent-blue-hover-persistent: var(--dark-blue-800);
    --text-accent-blue-active-persistent: var(--dark-blue-900);
    --text-accent-red-persistent: var(--dark-red-600);
    --text-accent-red-hover-persistent: var(--dark-red-700);
    --text-accent-red-active-persistent: var(--dark-red-800);
    --text-accent-red: var(--light-red-700);
    --text-accent-red-subtle: var(--light-red-600);
    --text-legible-red: var(--light-red-900);
    --text-legible-green: var(--light-green-900);
    --text-legible-blue: var(--light-blue-900);
    --text-legible-yellow: var(--light-yellow-900);
    --text-accent-green: var(--light-green-700);
    --text-accent-green-subtle: var(--light-green-600);
    --text-accent-yellow: var(--light-yellow-400);
    --text-accent-yellow-persistent: var(--dark-yellow-400);
    --text-accent-yellow-subtle: var(--light-yellow-600);
    --text-bold: var(--light-gray-900);
    --text-brand-primary: var(--light-red-600);
    --text-brand-secondary: var(--light-blue-900);
    --text-danger: var(--light-red-600);
    --text-dark-1: var(--light-transparent-1);
    --text-dark-6: var(--light-transparent-6);
    --text-dark-12: var(--light-transparent-12);
    --text-dark-25: var(--light-transparent-25);
    --text-dark-50: var(--light-transparent-50);
    --text-dark-75: var(--light-transparent-75);
    --text-disabled: var(--light-gray-400);
    --text-info: var(--light-blue-700);
    --text-inverse: var(--light-gray-50);
    --text-inverse-subtle: var(--light-gray-300);
    --text-light-1: var(--dark-transparent-1);
    --text-light-6: var(--dark-transparent-6);
    --text-light-12: var(--dark-transparent-12);
    --text-light-25: var(--dark-transparent-25);
    --text-light-50: var(--dark-transparent-50);
    --text-light-75: var(--dark-transparent-75);
    --text-link: var(--light-blue-700);
    --text-link-hover: var(--light-blue-800);
    --text-link-active: var(--light-blue-900);
    --text-persistent-dark: var(--light-gray-950);
    --text-persistent-light: var(--light-gray-50);
    --text-persistent-primary-brand: var(--light-red-600);
    --text-persistent-secondary-brand: var(--light-blue-900);
    --text-subtle: var(--light-gray-800);
    --text-success: var(--light-green-600);
    --text-warning: var(--light-yellow-600);

    /* Icon Variables */
    --icon-blue: var(--light-blue-700);
    --icon-accent-blue: var(--light-blue-500);
    --icon-accent-blue-persistent: var(--dark-blue-700);
    --icon-accent-blue-hover-persistent: var(--dark-blue-800);
    --icon-accent-blue-active-persistent: var(--dark-blue-900);
    --icon-accent-blue-subtle: var(--light-blue-700);
    --icon-accent-blue-subtle-hover: var(--light-blue-800);
    --icon-accent-blue-subtle-active: var(--light-blue-900);
    --icon-accent-green: var(--light-green-400);
    --icon-accent-green-subtle: var(--light-green-600);
    --icon-accent-red: var(--light-red-400);
    --icon-accent-red-persistent: var(--dark-red-600);
    --icon-accent-red-subtle: var(--light-red-600);
    --icon-accent-yellow: var(--light-yellow-400);
    --icon-accent-yellow-persistent: var(--dark-yellow-400);
    --icon-accent-yellow-subtle: var(--light-yellow-600);
    --icon-bold: var(--light-gray-900);
    --icon-brand-primary: var(--light-red-600);
    --icon-brand-secondary: var(--light-blue-900);
    --icon-danger: var(--light-red-400);
    --icon-dark-1: var(--light-transparent-1);
    --icon-dark-6: var(--light-transparent-6);
    --icon-dark-12: var(--light-transparent-12);
    --icon-dark-25: var(--light-transparent-25);
    --icon-dark-50: var(--light-transparent-50);
    --icon-dark-75: var(--light-transparent-75);
    --icon-disabled: var(--light-gray-400);
    --icon-info: var(--light-blue-700);
    --icon-inverse: var(--light-gray-100);
    --icon-inverse-subtle: var(--light-gray-200);
    --icon-inverse-subtle-active: var(--light-gray-600);
    --icon-inverse-subtle-hover: var(--light-gray-500);
    --icon-light-1: var(--dark-transparent-1);
    --icon-light-6: var(--dark-transparent-6);
    --icon-light-12: var(--dark-transparent-12);
    --icon-light-25: var(--dark-transparent-25);
    --icon-light-50: var(--dark-transparent-50);
    --icon-light-75: var(--dark-transparent-75);
    --icon-link: var(--light-blue-700);
    --icon-link-hover: var(--light-blue-800);
    --icon-link-active: var(--light-blue-900);
    --icon-persistent-dark: var(--light-gray-950);
    --icon-persistent-light: var(--light-gray-50);
    --icon-persistent-primary-brand: var(--light-red-600);
    --icon-persistent-secondary-brand: var(--light-blue-900);
    --icon-subtle: var(--light-gray-600);
    --icon-subtle-active: var(--light-gray-800);
    --icon-subtle-hover: var(--light-gray-700);
    --icon-success: var(--light-green-600);
    --icon-warning: var(--light-yellow-600);

    /* Border Variables */
    --border-accent-blue: var(--light-blue-500);
    --border-accent-blue-persistent: var(--dark-blue-400);
    --border-accent-blue-persistent-hover: var(--dark-blue-500);
    --border-accent-blue-persistent-active: var(--dark-blue-600);
    --border-accent-blue-subtle: var(--light-blue-700);
    --border-accent-blue-subtle-hover: var(--light-blue-800);
    --border-accent-blue-subtle-active: var(--light-blue-900);
    --border-accent-green: var(--light-green-400);
    --border-accent-green-subtle: var(--light-green-600);
    --border-accent-red: var(--light-red-400);
    --border-accent-red-subtle: var(--light-red-700);
    --border-accent-yellow: var(--light-yellow-400);
    --border-accent-yellow-subtle: var(--light-yellow-600);
    --border-bold: var(--light-gray-900);
    --border-brand-primary: var(--light-red-600);
    --border-brand-secondary: var(--light-blue-900);
    --border-danger: var(--light-red-600);
    --border-dark-1: var(--light-transparent-1);
    --border-dark-6: var(--light-transparent-6);
    --border-dark-12: var(--light-transparent-12);
    --border-dark-25: var(--light-transparent-25);
    --border-dark-50: var(--light-transparent-50);
    --border-dark-75: var(--light-transparent-75);
    --border-disabled: var(--light-gray-300);
    --border-focus: var(--light-blue-500);
    --border-info: var(--light-blue-700);
    --border-inverse: var(--light-gray-50);
    --border-light-1: var(--dark-transparent-1);
    --border-light-6: var(--dark-transparent-6);
    --border-light-12: var(--dark-transparent-12);
    --border-light-25: var(--dark-transparent-25);
    --border-light-50: var(--dark-transparent-50);
    --border-light-75: var(--dark-transparent-75);
    --border-link: var(--light-blue-800);
    --border-link-active: var(--light-blue-950);
    --border-link-hover: var(--light-blue-900);
    --border-persistent-dark: var(--light-gray-950);
    --border-persistent-light: var(--light-gray-50);
    --border-persistent-primary-brand: var(--light-red-600);
    --border-persistent-secondary-brand: var(--light-blue-900);
    --border-subtle: var(--light-gray-500);
    --border-subtler: var(--light-gray-300);
    --border-success: var(--light-green-600);
    --border-transparent: var(--light-transparent-0);
    --border-transparent-1: var(--light-transparent-1);
    --border-transparent-6: var(--light-transparent-6);
    --border-transparent-12: var(--light-transparent-12);
    --border-transparent-25: var(--light-transparent-25);
    --border-transparent-50: var(--light-transparent-50);
    --border-transparent-75: var(--light-transparent-75);
    --border-warning: var(--light-yellow-600);
}

/* Apply theme colors to body */
body {
  background-color: var(--body-bg);
  color: var(--body-color);
}