@import "tailwindcss";
@import "./../public/css/styles-ricardozea-v6.css";
@import "./../public/css/color-primitives.css";
@import "./../public/css/color-tokens-dark-mode.css";
@import "./../public/css/color-tokens-light-mode.css";